  .block{
  width: 170px;
  height: 170px;
  background: linear-gradient(to top,#333 0%, #666 30%, #333 100%);
  box-shadow: inset 2px 2px 5px 2px #333;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
h3{
  font-family: Arial;
  font-size: 18px;
  text-align: center;
}
.vertical{
  width: 75px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.vertical input{
  transform: rotate(90deg);
  width: 100px;
}
.vertical label{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.horizontal{
  width: 100%;
  margin: 0 auto;
}
.horizontal input{
  width: 100%;
}
.horizontal label{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.center{
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#ok-shape{
  margin-top: 10px;
}
#hex{
  margin-top: 20px;
  width: 80px;
}
.hex-container{
  width: 100px;
  margin: 20px auto 0;S
}
.rgba-container{
  width: 100px;
  margin: 0 auto;
}
.rgba-container input{
  width: 80px;
}
.container{
  margin-top: 20px;
  position: relative;
}
#block{
  height: 150px;
  width: 150px;
  background: red;
  position: absolute;
  left: 0;
  top:0;
}
